.background {
  height: 100%;
  width: 100%;
}
.background-img {
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/img/register.jpg");
  background-size: cover;
}
.login-area {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  top: 30%;
  background: no-repeat;
  opacity: 0.9;
}
.login-form {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
}
.login-form-margin {
  margin-bottom: 24px;
}

.login-form-button {
  width: 100%;
}
