<nz-breadcrumb style="background-color: #F2F4F5; padding: 5px;">
  <nz-breadcrumb-item>首页</nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row style="height: calc(100% - 32px);">
  <div nz-col nzSpan="18" style="height: 100%;">
    <div style="height: 40%; display: flex;">
      <div style="width: 70%;">
        <div class="display-title">
          <i nz-icon nzType="backward" nzTheme="outline" nz-tooltip nzTitle="前一天" class="title-button"></i>
          日程表({{date | date: 'yyyy-MM-dd'}})
          <i nz-icon nzType="forward" nzTheme="outline" nz-tooltip nzTitle="后一天" class="title-button" style="margin-left: 10px;"></i>
          <span style="float: right;">
            <i nz-icon nzType="environment" nzTheme="outline" class="title-button" nz-tooltip nzTitle="今天"></i>
            <i nz-icon nzType="plus" nzTheme="outline" class="title-button" nz-tooltip nzTitle="新增"></i>
          </span>
        </div>
        <div class="display-area" style="padding-left: 60px;">
          <div *ngFor="let item of calendar" style="display: flex; padding: 3px 5px;">
            <div style="width: 8px; height: 32px; background-color: deepskyblue; border-radius: 10px;"></div>
            <div style="width: calc(100% - 28px); height: 32px; padding: 4px 0; display: flex; align-items: center;">
              <div style="width: 90%; font-size: 18px;" class="omit-content">
                {{item.content}}
              </div>
              <div style="width: 10%; display: flex; justify-content: center; align-items: center; border-left: 1px solid;"
                   [style.color]="getTimeColor(item)">
                {{item.time}}
              </div>
            </div>
            <div style="display:flex; width: 20px; height: 32px; align-items: center;">
              <i *ngIf="item.status == 'todo'" nz-icon nzType="check-circle" nzTheme="outline"
                 class="check-button" nz-tooltip nzTitle="标为完成" (click)="taskFinished(item)"></i>
              <i *ngIf="item.status == 'finished'" nz-icon nzType="rollback" nzTheme="outline"
                 class="recover-button" nz-tooltip nzTitle="标为待办" (click)="recoverTask(item)"></i>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 30%;">
        <div style="width: 100%; height: 100%; padding: 5%;" echarts [options]="pieChart"></div>
      </div>
    </div>
    <div style="height: 60%;">
      <div style="width: 100%; height: calc(100% - 10px);padding: 20px; border-top: 1px solid #f2f2f2;">
        <div style="width: 100%; height: 100%;" echarts [options]="taskChart"></div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="6" style="height: 100%; border-left: 1px solid #f2f2f2;">
    <div style="height: 30%;">
      <div class="menu-title">
        常用菜单
        <span style="float: right;">
          <i nz-icon nzType="setting" nzTheme="outline" class="title-button"></i>
        </span>
      </div>
      <div class="menu-area">
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)"
             nz-tooltip nzTitle="点击跳转，按住拖动">
          <div class="example-box" *ngFor="let item of frequentlyMenu" cdkDrag>
            <ng-container *ngIf="item.icon">
              <div style="text-align: center;">
                <i nz-icon [nzType]="item.icon" nzTheme="outline" style="font-size: 18px; color: gray;"></i>
              </div>
            </ng-container>
            <div style="word-break: break-all; text-align: center; padding: 0 30%;">
              {{item.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 70%;">
      <div class="display-title">
        通知
      </div>
      <div class="display-area">
        <div *ngFor="let message of messageList;" style="padding: 5px; display: flex;">
          <div style="width: 10%; line-height: 45px; text-align: center;">
            <i style="font-size: 20px;" nz-icon nzType="bars" nzTheme="outline"></i>
          </div>
          <div style="width: 90%;">
            <div class="omit-content" style="max-width: 90%; color: black; font-size: 15px;">
              {{message.title}}
            </div>
            <div style="display: flex;">
              <label style="margin-right: 10px; min-width: 60px;">{{message.creator}}</label>
              <label style="margin-right: 10px;">{{message.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
