<div class="application">
  <div class="application-layers with-secondary-surface-control">
    <div class="surface">
      <div class="surface-control">
        <div class="surface-control-component">
          <div class="surface-control-primary">
            <div class="surface-company-logo-component-wrapper">
              <div class="surface-company-logo-component">
                <span class="surface-company-logo-image-wrapper">
                  <img class="surface-company-logo-image" src="../../../../assets/icon/logo-sm.png" alt="图片加载失败">
                </span>
              </div>
            </div>
            <div class="customization-navigation-items-area">
              <div class="surface-view-icon-wrapper navigate-to-workspaces">
              </div>
              <div class="surface-action-icon-wrapper">
              </div>
              <div class="surface-view-icon-wrapper">
              </div>
            </div>
            <div class="permanent-navigation-items-area">
              <div class="surface-view-icon-wrapper">
                <div class="surface-navigation-view-item-component surface-my-week partial-square-background">
                  <a class="surface-navigation-view-item-wrapper button_link">
                    <span class="icon navigation-view-item-icon">
                      <i nz-icon nzType="calendar" nzTheme="outline"></i>
                    </span>
                  </a>
                </div>
              </div>
              <div class="surface-action-icon-wrapper invite-users-button-wrapper">
                <div class="surface-navigation-action-item-component partial-square-background">
                  <span class="navigation-action-item-icon">
                    <i nz-icon nzType="user-add" nzTheme="outline"></i>
                  </span>
                </div>
              </div>
              <div class="surface-action-icon-wrapper">
                <div class="surface-navigation-action-item-component partial-square-background">
                  <span class="navigation-action-item-icon">
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                  </span>
                </div>
              </div>
              <div class="surface-action-icon-wrapper surface-help-wrapper">
                <div class="surface-navigation-action-item-component partial-square-background">
                  <span class="navigation-action-item-icon">
                    <i nz-icon nzType="question" nzTheme="outline"></i>
                  </span>
                </div>
              </div>
              <div class="surface-avatar-menu-connector-wrapper">
                <div class="surface-avatar-menu-component">
                  <div class="ds-menu-button-container">
                    <div class="avatar-photo-button-wrapper">
                      <img src="../../../../assets/icon/default-avatar.png" class="person-bullet-image person-bullet-component" alt="用户头像"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="surface-content">
        <div class="surface-content-component">
          <div class="surface-search-input-component-wrapper">
            <div class="surface-search-input-component">
              <span class="surface-search-input-wrapper">
                <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                  <input class="surface-search-input tt-hint tt-first"/>
                  <input class="surface-search-input tt-input tt-second"/>
                  <pre aria-hidden="true" class="surface-search-pre"></pre>
                  <div class="tt-menu tt-third">
                    <div class="tt-dataset tt-dataset-search_autocomplete">

                    </div>
                  </div>
                </span>
                <span class="icon icon-dapulse-board-filter search_icon"></span>
              </span>
              <div class="input-save-button-component-wrapper">
                <a class="save_search_btn load-button">
                  <span class="load-label">
                    <span class="icon icon-dapulse-favorite"></span>
                    <i class="icon fa fa-check" aria-hidden="true"></i>
                    <span class="save_label">Save</span>
                    <span class="success_label">Saved</span>
                  </span>
                  <span class="load-spinner"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="surface-search-content">
            <div class="search-everything-content">
              <div class="search_menu open">
                <div class="search_menu_inner">
                  <a class="search_segment home_screen active">
                    <span class="icon icon-dapulse-board-filter"></span>
                    <span class="num_of_results"></span>
                    <i class="fa fa-spinner fa-spin"></i>
                  </a>
                  <a class="search_segment cross_board">
                    <span class="title">Cross Boards</span>
                    <span class="num_of_results"></span>
                    <i class="fa fa-spinner fa-spin"></i>
                  </a>
                  <a class="search_segment posts">
                    <span class="title">Updates</span>
                    <span class="num_of_results"></span>
                    <i class="fa fa-spinner fa-spin"></i>
                  </a>
                  <a class="search_segment files">
                    <span class="title">Files</span>
                    <span class="num_of_results"></span>
                    <i class="fa fa-spinner fa-spin"></i>
                  </a>
                  <a class="search_segment users">
                    <span class="title">People</span>
                    <span class="num_of_results"></span>
                    <i class="fa fa-spinner fa-spin"></i>
                  </a>
                  <a class="search_segment tags">
                    <span class="title">Tags</span>
                    <span class="num_of_results"></span>
                    <i class="fa fa-spinner fa-spin"></i>
                  </a>
                  <span class="right_section">
                    <button class="ds-btn ds-btn-primary ds-btn-sm">Filter by date</button>
                  </span>
                </div>
              </div>
              <div class="search_page home_screen">
                <div class="home_screen_wrapper">
                  <div class="trending_tags searches_section">
                    <h2>
                      <span class="icon icon-dapulse-search-hot-tags"></span> Hot Tags
                    </h2>
                    <div class="search_items trending_tags">
                      <div class="empty_message">
                        <span class="icon icon-dapulse-bulb"></span>
                        You can add a Tag column to any board. The most used tags will appear here.
                      </div>
                    </div>
                  </div>
                  <div class="predefined_searches searches_section">
                    <h2>
                      <span class="icon fa fa-bolt"></span> Quick Searches
                    </h2>
                    <div class="search_items">
                      <div class="search-item">
                        <a class="search_link">
                          <span class="icon icon-monday-pulse-circle"></span>

                          I'm assigned to

                        </a>
                      </div>
                      <div class="search-item">
                        <a class="search_link">
                          <span class="icon icon-dapulse-doc"></span>

                          My Files

                        </a>
                      </div>
                      <div class="search-item">
                        <a class="search_link">
                          <span class="icon fa fa-archive"></span>

                          Archived Boards

                        </a>
                      </div>
                      <div class="search-item">
                        <a class="search_link">
                          <span class="icon icon-dapulse-mention"></span>

                          I was mentioned

                        </a>
                      </div>
                      <div class="search-item">
                        <a class="search_link">
                          <span class="icon icon-dapulse-mention"></span>

                          I was mentioned and didn't reply

                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="saved_searches searches_section">
                    <h2>
                      <span class="icon icon-dapulse-favorite"></span>
                      Saved Searches
                    </h2>
                    <div class="search_items nano">
                      <div class="nano-content">
                        <div class="search_items">
                          <div class="empty_message">
                            <span class="icon icon-dapulse-bulb"></span>
                            Save searches for quick access. Just click the save button to the right of the search field.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="recent_searches searches_section">
                    <h2>
                      <span class="icon fa fa-clock-o"></span>
                      Recent Searches
                    </h2>
                    <div class="search_items">
                      <div class="empty-message">
                        <span class="icon icon-dapulse-bulb"></span>
                        Here you'll find your recent searches. (Did you know? 93% of the time, people search for the same thing)
                      </div>
                    </div>
                  </div>
                  <div class="user_searches">
                    <h2 class="title">People Search:</h2>
                    <a class="search_link">
                      <div class="search_home_profile_image_container_16549063">
                        <img src="../../../../assets/icon/default-avatar.png" class="person-bullet-image person-bullet-component search-home-screen-profile-image" alt="用户头像">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div id="cross-board-scrollable" class="search_page cross_board" style="opacity: 1; display: flex;">
                <div class="react-cross-board-component">
                  <div class="cross_board_home_screen version_4">
                    <div class="image_wrapper">
                      <img src="../../../../assets/icon/magnifying_glass.png" alt="加载失败">
                    </div>
                    <h1>Boards search</h1>
                    <div class="subtitle">
                      <h2>
                        Search for whatever you want. Seriously, go crazy!
                        <br>
                        Find anything like items, owners, dates, key words.
                      </h2>
                    </div>
                    <div>
                      <button class="suggestion_link ds-btn ds-btn-primary ds-btn-sm ladda-button">Try: "iiysd用户名称 working on"</button>
                    </div>
                    <div class="show_tip_wrapper">
                      <a class="show_tip">Watch search tutorial video ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="search_page posts_search">
              </div>
              <div class="search_page files_search">
              </div>
              <div class="search_page users_search">
              </div>
              <div class="search_page tags_search">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="first-level">
      <div class="first-level-control">
        <div #firstLevelComp class="first-level-control-component is-expanded is-pinned">
          <div class="collapse-first-level-button-component-wrapper">
            <div class="collapse-first-level-button-component is-pinned" (click)="pin(firstLevelControl, firstLevelComp)">
              <span class="collapse-icon fa fa-angle-right">
                <i style="font-size: 10px; transform: scaleY(1.2);" nz-icon nzType="left" nzTheme="outline"></i>
              </span>
            </div>
          </div>
          <div class="first-level-control-content">
            <div class="home-control-component">
              <div class="home-workspace-items-component">
                <div class="title-wrapper">
                  <div class="home-workspace-items-title-component left-pane-workspace-header-redesign">
                    <div class="home-workspace-items-header">
                      <div class="workspace-content">
                        <div class="workspace-icon-container workspace-size-md">
                          <div class="workspace-icon-shape-container" style="background-color: rgb(242, 121, 242);">
                            <div class="workspace-icon icon">
                              <span class="letter">M</span>
                            </div>
                          </div>
                          <div class="workspace-permission-icon-wrapper main-workspace-icon-wrapper">
                            <div class="workspace-permission-icon-inner main-workspace-icon-inner">
                              <i class="icon icon-v2-home-new workspace-permission-icon main-workspace-icon"></i>
                            </div>
                          </div>
                        </div>
                        <div class="workspace-item-name-wrapper">
                          <div class="ds-editable-component workspace-item-name" style="width: auto; height: auto;">
                            <div class="ds-text-component">
                              <span>Main workspace</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="workspace-menu">
                        <div class="workspace-item-menu-wrapper">
                          <div class="workspace-item-menu-wrapper">
                            <div class="ds-menu-button-container">
                              <div class="ds-menu-button ds-menu-button-md  null" style="background-color: transparent;">
                                <i class="icon ellipsis icon-v2-ellipsis"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="home-workspace-items-content-sub-header-wrapper">
                      <div class="new-boards-list-button-component">
                        <div class="ds-menu-button-container">
                          <div>
                            <div class="top-new-button-component default-icon">
                              <div class="new-boards-list-button add_new_board_btn left-pane-workspace-header-redesign onboarding">
                                <i class="icon icon-dapulse-plus main-icon" nz-icon nzType="plus-circle" nzTheme="outline"></i>
                                Add
                                <i class="fa fa-angle-right icon arrow-icon" nz-icon nzType="right" nzTheme="outline"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="boards-list-header-component selected left-pane-workspace-header-redesign">
                        <div class="boards-filter-row-wrapper">
                          <div class="boards-list-filter-button-component left-pane-workspace-header-redesign">
                            <i class="icon filter-icon main-icon icon-v2-funnel" nz-icon nzType="filter" nzTheme="outline"></i>
                            <span class="filters-text">Filters</span>
                          </div>
                        </div>
                        <div #searchBoardInput class="unified-boards-search-input-wrapper empty">
                          <i class="icon-v2-search-thin search-icon" nz-icon nzType="search" nzTheme="outline"></i>
                          <input placeholder="Search..." autocomplete="off" class="unified-boards-search-input"
                                 (click)="searchBoardInputClick(searchBoardInput)" (blur)="searchBoardInputBlur(searchBoardInput)"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-workspace-items-content-wrapper">
                  <div class="home-control-unified-boards-list-component selected left-pane-workspace-header-redesign">
                    <div class="with-keyboard-navigation-enhancer home-control-unified-boards-virtualized-list-wrapper">
                      <div class="draggable-virtual-list home-control-unified-boards-virtualized-list">
                        <div class="scrolling-component">
                          <div class="virtual-list-component">
                            <div class="virtual-list-scrollable-container">
                              <div class="ReactVirtualized__Grid ReactVirtualized__List tt-fourth">
                                <div class="ReactVirtualized__Grid__innerScrollContainer tt-fifth">
                                  <div *ngFor="let board of boardList; let i = index" [style]="{top: i * 34 + 'px'}"
                                       style="height: 34px; left: 0; position: absolute; width: 100%;">
                                    <div class="home-control-unified-board-item-wrapper border border-public unified-virtualized-boards-list-item">
                                      <div class="home-control-unified-board-item-component-wrapper">
                                        <div class="right-click-menu-component">
                                          <div class="home-control-board-item-component public">
                                            <div class="board-name-wrapper">
                                              <div class="left-side-icon">
                                                <i nz-icon nzType="credit-card" style="font-size: 12px; color: #676879;"></i>
                                              </div>
                                              <div class="ds-editable-component board-name" style="width: auto; height: auto;">
                                                <div class="home-item-content">
                                                  <div class="ds-text-component board-item-name">
                                                    <span>{{board.name}}</span>
                                                  </div>
                                                  <div class="home-item-menu-wrapper">
                                                    <div class="ds-menu-button-container">
                                                      <div class="ds-menu-button ds-menu-button-md  null" style="background-color: transparent;">
                                                        <i class="icon ellipsis icon-v2-ellipsis"></i>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div #firstLevelControl class="first-level-content-wrapper first-level-control-pinned">
        <app-board></app-board>
      </div>
    </div>
  </div>
</div>
